.app.dark {
  --bg-color: #252525;
  --inverted-bg-color: #ffffff;

  --primary-color: #9df6aa;
  --secondary-color: #8bc38b;
  --inverted-primary-color: #616161;
  --inverted-secondary-color: #aeaeae;
}