.app.normal {
  --bg-color: #ffffff;
  --inverted-bg-color: #252525;

  --primary-color: #616161;
  --secondary-color: #aeaeae;
  --inverted-primary-color: #9df6aa;
  --inverted-secondary-color: #8bc38b;

}